body{
    background-color: rgb(39, 37, 37);
}

.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    height: 300px;
    margin: 0 auto;
    margin-top: 90px;
    background-color: rgb(68, 67, 67);
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

#answer{
    margin-top: 8px;
}

