
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    position:absolute;
    height: 180%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  /* .sidebar a.active {
    background-color: #FF4500;
    color: white;
  } */
  
  /* Links on mouse-over */
  .sidebar a:hover {
    background-color: #555;
    color: white;
  }
  
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    .mainbody{width: 100%;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .mainbody{width: 100%;}
  }
@media screen and (min-width: 701px){
    .mainbody{margin-left: 200px;}
}
@media screen and (width: 700px){
    .mainbody{width: 100%;}
}

  .top{
      background-color:#2F323A;
      color: white;
      margin: 0%;
      height: 60px;
      padding-top: 8px;
      padding-left: 12px;
  }

  .mainbody{
      background-color: #232427;
      height:180%;
      padding-top: 11px;
  }
  
  .upper-mainbody a:hover:not(.active) {
    background-color:#FF8500;
    color: white;
    border-radius: 5px;
  }

  .instructions, .problemstatement{
      color: white;
      margin-left: 60px;
  }

  .submitbutton, .join-session{
      margin-top: 30px;
      text-align: center;
  }

  .mentors{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

  .card{
      margin: 10px;
  }